@import 'reset';
@import 'fonts';
@import 'vars';
@import 'mixins';
@import 'libs';
@import 'global';

.logo {  
  border-radius: 5px;
  transition: opacity 0.5s, box-shadow 0.5s;
  z-index: 4;

  @include mq('phone') {
    width: 115px;
    height: 23px;
  }

  &__img {
    height: 39px;

    @include mq('phone') {
      height: 23px;
    }
  }
 
  &:hover {
    opacity: 0.8;
  }

  &:focus {        
    box-shadow: 0 0 0 2px rgba($orange-900, 0.70);
  }

  &:active {    
    opacity: 0.4;
    box-shadow: none;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 58px 0;
  z-index: 3;
  transition: background-color 0.5s, padding 0.5s;

  @include mq('tablet-2') {
    padding: 30px 0;
  } 

  @include mq('phone') {
    padding: 14px 0;
  }

  &.active {
    background-color: $white;
    padding: 20px 0;
  }

  &__inner {
    display: flex; 
    justify-content: space-between;       
    align-items: center;
  }

  &__menu {
    display: flex;  
    align-items: center;
  }
  
  &__list {    
    display: flex;  
    align-items: center;  
    margin-right: 52px;
    
    @include mq('tablet') {
      position: absolute;
      flex-direction: column;
      width: 100%;
      margin-right: 0;
      padding: 25px 15px;
      align-items: flex-start;
      border-top: 1px solid $silver;
      border-bottom: 1px solid $silver;      
    }
  }

  &__list-item:not(:last-child) {
    margin-right: 45px;

    @include mq('tablet') {
      margin-bottom: 20px;
      margin-right: 0;
    }
  }  

  &__list-link {
    font-size: 18px;
    
    &--active {
      color: $orange-900;
    }
  }  
}

.user-nav {
  display: flex;
  z-index: 3;  

  @include mq('tablet') {
    margin-right: 30px;
  }

  &__btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;    
    border: 2px solid transparent;  
    border-radius: 5px;
    transition: background-color 0.5s;

    &:not(:last-child) {
      margin-right: 16px;
    }

    &:hover {
      background-color: $orange-500;    
    } 
    
    &:hover .user-nav__btn-icon {
      stroke: $white;      
    }

    &:hover .user-nav__num {
      color: $orange-500;
      background-color: $white;
    } 

    &:focus {
      background: rgba($orange-500, 0.10);
      box-shadow: 0 0 0 2px rgba($orange-900, 0.70);
    } 
    
    &:focus .user-nav__btn-icon {
      stroke: $dark;
    }

    &:focus .user-nav__num {
      color: $white;
      background-color: $orange-500;
    }

    &:active {
      background-color: rgba($orange-500, 0.10);
      box-shadow: none;    
    } 
  } 
  
  &__btn-icon { 
    width: 21px;
    height: 22px;
    stroke: $darkblue-900; 
    fill: none;  
    transition: stroke 0.5s;
  } 

  &__num {
    position: absolute;  
    height: 14px;
    left: 60%;
    padding: 0 4px 3px;
    font-size: 10px;    
    color: $white;
    background-color: $orange-900;
    border-radius: 10px;
    transform: translateY(-50%);
    transition: color 0.5s, background-color 0.5s;
  }
}

.menu { 
  
  @include mq('tablet') {
    position: absolute;
    width: 90%;
    height: 100vh;
    top: 0;
    left: 0;    
    background-color: $silver-100;
    z-index: 999;
    transform: translateX(-100%);  
    transition: transform 0.5s;  
  }

  &--active {
    transform: translateX(0%);
  }

  &__top {
    display: none;
    @include mq('tablet') {
      padding: 25px 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;      
    }
  }

  &__logo {
    width: 200px;
    height: 39px;
  }

  &__logo-img {
    height: 100%;
  }

  .address {
    display: none;

    @include mq('tablet') {
      position: absolute;
      display: block;
      margin-top: 171px;
      padding: 15px 15px;
    }
  } 
  
  .menu-close {
    position: relative;
    width: 44px;
    height: 44px;
    background-color: transparent;    

    &__line,
    &::before {
      position: absolute;
      right: 0;
      top: 50%;
      width: 26px;
      height: 2px;
      background-color: $darkblue-900;            
    }

    &__line {
      transform: translate(-5px, -1px) rotate(-45deg);
    }

    &::before {
      @include pseudo;
      transform: translate(-5px, -1px) rotate(45deg);     
    }
  }
}

.burger {
  display: none;
  width: 44px;
  height: 44px;
  @include burger;
  z-index: 3;

  @include mq('tablet') {
    display: block;
  }    
}

.promo {
  padding: 160px 0 60px;

  @include mq('tablet') {
    padding: 100px 0 0;
  }

  @include mq('phone') {
    padding: 72px 0 0;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;    
    background-repeat: no-repeat;
    background-size: 560px 660px;
    background-position: right;
    height: 70vh;   

    @include mq('tablet') {
      position: relative;

      &::after {
        @include pseudo;
        inset: 0;
        background-color: rgba($silver-100, 0.85);
        z-index: 1;
      }
    }

    @include mq('phone') {
      height: 42vh;
      background-size: contain;
    }
  }

  &__title {
    @extend %rubik-500;
    font-size: 66px;
    line-height: 1.3;
    max-width: 450px;
    width: 100%;
    text-transform: uppercase;
    z-index: 2;

    @include mq('tablet') {
      max-width: 390px;
      font-size: 56px;
    }
    
    @include mq('phone') {
      max-width: 257px;
      font-size: 40px;
    }
  }

  &__subtitle {
    color: $orange-900;
    margin-bottom: 20px;
    z-index: 2;
  }

  &__text {
    max-width: 450px;
    width: 100%;
    @include line-clamp(3);
    z-index: 2;
    
    @include mq('phone') {
      max-width: 345px;
    }
  }

  &__btn {    
    font-size: 18px;    
    letter-spacing: 0.54px;    
    padding: 12px 32px;    
    margin-right: 34px;
    z-index: 2;

    @include mq('phone') {
      font-size: 14px;
      letter-spacing: 0.42px;
      padding: 8px 24px;
      margin-right: 30px;
    }
  } 
  
  &__box {
    z-index: 2;
  }

  &__link {
    margin-right: 34px;
  }
}

.popular-categories {
  
  text-align: center;

  &__title {
    margin-bottom: 60px;

    @include mq('tablet-2') {
      margin-bottom: 40px;
    }

    @include mq('phone') {
      margin-bottom: 30px;
    }
  }

  &__filter-btn {
    display: flex;
    margin-bottom: 45px;
    overflow-x: auto;
    
    @include mq('tablet') {
      margin-bottom: 30px;
    }
  }

  &__item-btn {
    padding: 3px;
  }

  &__item-btn:not(:last-child) {
    margin-right: 20px;

    @include mq('tablet') {
      margin-right: 10px;
    }
  }

  &__link {
    color: $darkblue-900;
    text-decoration: underline;
  }

  &__btn {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 13px 32px;
    border-radius: 5px;
    background-color: $white;
    box-shadow: 0 0 0 1px $silver-200;
    transition: background-color 0.5s, box-shadow 0.5s;
    white-space: nowrap;

    @include mq('tablet') {
      padding: 11px 24px;
    }    

    &.mixitup-control-active {
      background-color: $orange-900;
    
      & .popular-categories__btn-text {
        color: $white;
      }
      
      & .popular-categories__btn-icon{
        fill: $white;
      }
    }

    &:hover {
      background-color: rgba($orange-500, 0.10);
      box-shadow: 0 0 0 2px rgba($orange-900, 0.70);
    }

    &:hover .popular-categories__btn-icon {
      fill: $orange-900;
    }

    &:hover .popular-categories__btn-text {
      color: $orange-900;
    }

    &:focus {
      background-color: $white;
      box-shadow: 0 0 0 2px rgba($orange-900, 0.70);
    }

    &:focus .popular-categories__btn-text {
      color: $dark;
    }

    &:focus .popular-categories__btn-icon {
      fill: $dark;
    }

    &:active {
      background-color: $white;
      box-shadow: 0 -5px 12px 0 rgba($orange-900, 0.20) inset;
    }    
  }  

  &__btn-icon {
    width: 44px;
    height: 44px;
    fill: $dark;
    transition: fill 0.5s;
  }

  &__btn-text {
    line-height: 1.3;
    transition: color 0.5s;

    @include mq('phone') {
      font-size: 14px;
    }
  }

  &__catalog {
    display: flex;    
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
    margin-bottom: 60px;

    @include mq('tablet') {      
      margin-bottom: 30px;
      column-gap: 15px;
      row-gap: 15px;
    }

    @include mq('phone') {      
      margin-bottom: 30px;
      column-gap: 5px;
      row-gap: 10px;
    }
  } 
  
  &__item {
    max-width: 210px;
    width: 100%;

    @include mq('phone') {
      max-width: 170px;
    }
  } 
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 210px;  
  width: 100%;
  height: 299px;
  padding: 20px 15px;  
  background-color: $white;
  box-shadow: 0 0 0 1px $silver-200;
  border-radius: 5px;
  transition: box-shadow 0.5s;

  &:hover {
    box-shadow: 0 0 0 1px $orange-900;
  }

  &__img {
    margin-bottom: 10px;
  }

  &__name {
    @extend %rubik-400;
    font-size: 15px;
    line-height: 1.2;
    @include line-clamp(2);
    margin-bottom: 10px;
  }
    
  &__price {
    @extend %rubik-500;
    font-size: 15px;
    line-height: 1.4;
    margin: auto 0 10px;
    color: $darkblue-900;
  }
    
  &__btn {       
    padding: 7px 16px;
    font-size: 14px;    
  }
}

.delivery{  

  @include mq('tablet') {
    padding: 0 0 57px;
  }

  &__inner {
    display: flex;
    justify-content: right;
    align-items: center;    
    background-repeat: no-repeat;
    background-size: 440px 585px;
    background-position: 70px center;
    height: 70vh;  

    @include mq('tablet-2') {
      position: relative;
      justify-content: flex-start;
      background-position: right;     
      height: 60vh;

      &::before {
        @include pseudo;
        inset: 0;        
        background-position: left;
        z-index: 1;        
      }
    }

    @include mq('tablet') {
      &::before {
        background-color: rgba($silver-100, 0.65);
      }      
    }

    @include mq('phone') {
      background-size: contain;
      background-position: center;
      height: 42vh;

      &::before {
        background-color: rgba($silver-100, 0.85);
      } 
    }
  }

  &__content {
    max-width: 470px;
    width: 100%; 
    margin-right: 70px;
    z-index: 2;

    @include mq('tablet') {
      margin-right: 20px;

    }
    
    @include mq('phone') {
      max-width: 345px;
      margin-right: 0;
    }
  }

  &__title {
    @include line-clamp(2);
  }

  &__text {
    @include line-clamp(3);    
  }

  &__title,
  &__text {
    margin-bottom: 30px;
  } 
  
  &__list {
    margin-bottom: 42px;
  }

  &__item {
    padding-left: 64px;
    font-size: 24px;
    @include line-clamp(1); 
    position: relative;
    
    @include mq('tablet') {
      padding-left: 54px;
      font-size: 20px;
    }

    @include mq('phone') {
      padding: 4px 0 4px 44px;
      font-size: 18px;      
    }
    
    &::before {
      @include pseudo;
      width: 34px;
      height: 34px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      top: 0;
      left: 0;
    }

    &--watch::before {
      background-image: url(../images/sprite.svg#watch-icon);
      filter: invert(49%) sepia(13%) saturate(4364%) hue-rotate(333deg) brightness(105%) contrast(101%);
    }

    &--courier::before {
      background-image: url(../images/sprite.svg#courier-icon);
      filter: invert(50%) sepia(16%) saturate(5061%) hue-rotate(171deg) brightness(99%) contrast(112%);
    }

    &--shop::before {
      background-image: url(../images/sprite.svg#shop-icon);
      filter: invert(39%) sepia(91%) saturate(6108%) hue-rotate(351deg) brightness(100%) contrast(95%);
    }

  }

  &__item:not(:last-child) {
    margin-bottom: 20px;
  }  

  &__btn {
    padding: 12px 32px;
  }  
}

.best-restaurants {  

  &__title {
    text-align: center;
    margin-bottom: 45px;
  }

  &__catalog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;

    @include mq('tablet') {
      display: block;  
      margin:0 -15px;

      .slick-slide {        
        margin-right:15px;
        margin-left:15px;

        >div {
          text-align: center;
        }
      }     
    }

    .slick-dots {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 15px;

      li {

        button {
          width: 15px;
          height: 15px;
          border-radius: 50%;
          font-size: 0;                        
          background-color: $gray;
          border: 2px solid transparent;        
          transition: border-color 0.5s, background-color 0.5s, box-shadow 0.5s;

          &:hover {
            border-color: $orange-500;
            background-color: rgba($orange-500, 0.10);
          }
  
          &:focus {
            box-shadow: 0 0 0 2px rgba($orange-900, 0.70), 0 5px 12px 0 rgba($orange-900, 0.20);
            background-color: $gray;
          }
  
          &:active {
            box-shadow: none;
            background-color: $orange-300;
          }
        }

        &.slick-active {

          button {
            background-color: $orange-900;
          }
        } 
      }
    }
  }  
}

.restaurant-card {
  max-width: 370px;
  width: 100%;    
  border-radius: 10px;
  background-color: $white;
  box-shadow: 0 3px 3px 0 rgba($black, 0.10);
  transition: box-shadow 0.5s;

  @include mq('tablet') {
    margin-bottom: 21px;
  }
  
  &:hover {
    box-shadow: 0 3px 15px 0 rgba($orange-900, 0.50);
  }

  &__img {
    max-width: 370px;
    width: 100%;
    border-radius: 10px 10px 0 0;
  }

  &__descr {
    padding: 15px 20px 20px;
  }

  &__name {
    margin-bottom: 20px;
    @extend %rubik-400;
    font-size: 24px;
    line-height: 1.3;
    @include line-clamp(1);
    color: $dark;
  }

  &__box {
    display: flex;
    justify-content: space-between;
  }  

  &__worktime-text {
    padding-left: 27px;
    @extend %rubik-300;
    font-size: 18px;
    line-height: 1.7;
    color: $dark;
    opacity: 0.9;
    position: relative;

    &::before {
      @include pseudo;
      width: 22px;
      height: 22px;
      top: 4px;
      left: 0;
      background-image: url('../images/sprite.svg#timer-icon');
      filter: invert(17%) sepia(27%) saturate(261%) hue-rotate(42deg) brightness(98%) contrast(93%);
      
    }
  }  

  &__btn {    
    width: 78px;
    border-radius: 20px;
    position: relative;

    &::before {
      @include pseudo;
      width: 24px;
      height: 24px;
      top: 2px;
      left: 28px;
      background-image: url('../images/sprite.svg#arrowright-icon');
      filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(270deg) brightness(113%) contrast(100%);
      transition: filter 0.5s, transform 0.5s;
    }
    
    &:hover::before {
      filter: invert(49%) sepia(13%) saturate(4364%) hue-rotate(333deg) brightness(105%) contrast(101%);
      transform: translateX(50%);
    }

    &:focus::before {
      filter: invert(49%) sepia(13%) saturate(4364%) hue-rotate(333deg) brightness(105%) contrast(101%);      
    }

    &:active::before {
      filter: invert(49%) sepia(13%) saturate(4364%) hue-rotate(333deg) brightness(105%) contrast(101%);      
    } 
  }   
}

.reviews {

  &__title {
    text-align: center;
    margin-bottom: 45px;
  }

  &__slider-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 48px;

    @include mq('phone') {
      flex-direction: column;
      margin-bottom: 0;
    }
  }

  &__slider-img {
    max-width: 300px;
    width: 100%;
    border-radius: 50%;
    margin-right: 40px;

    @include mq('phone') {
      max-width: 100px;
      max-height: 100px;
      margin: 0 0 20px;
    }
  }

  &__slider-blockquote {
    position: relative;
    max-width: 570px;
    padding: 0 40px;
    margin-bottom: 30px;
    @extend %rubik-i400;
    @include line-clamp(5);

    @include mq ('phone') {
      max-width: 300px;
      width: 100%;
      margin-bottom: 20px;
      padding: 5px 34px 0;
      font-size: 14px;
    }

    &::before,
    &::after {
      @include pseudo;  
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      filter: invert(81%) sepia(10%) saturate(14%) hue-rotate(320deg) brightness(98%) contrast(83%);
      width: 24px;
      height: 20px;
    }

    &::before {
      background-image: url('../images/sprite.svg#quote-icon');
      top: 0;
      left: 0;
    }

    &::after {
      background-image: url('../images/sprite.svg#quote-icon');
      transform: scale(-1,1);    
      right: 0;
      bottom: 0;

      @include mq('phone') {
        bottom: 5px;
      }
    }    
  }

  &__author {
    margin-bottom: 15px;
    @extend %rubik-500;
    line-height: 1.3;
    color: $orange-900;

    @include mq('phone') {
      margin-bottom: 10px;
      font-size: 16px;
    }
  }

  &__position {
    font-size: 14px;
    line-height: 1.3;
  }  

  &__slider {    
  
    .slick-dots {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 15px;
      position: relative;

      li {
        align-items: center; 
  
        button {
          width: 15px;
          height: 15px;
          padding: 5px;
          font-size: 0;        
          background-color: $gray;
          border: 2px solid transparent;
          border-radius: 50%;
          transition: border-color 0.5s, background-color 0.5s, box-shadow 0.5s;
  
          &:hover {
            border-color: $orange-500;
            background-color: rgba($orange-500, 0.10);
          }
  
          &:focus {
            box-shadow: 0 0 0 2px rgba($orange-900, 0.70), 0 5px 12px 0 rgba($orange-900, 0.20);
            background-color: $gray;
          }
  
          &:active {
            box-shadow: none;
            background-color: $orange-300;
          }
        }
  
        &.slick-active {
          button {
            background-color: $orange-900;
          }
        }      
      }    
    }
  
    .slider__arrow {
      position: absolute;
      bottom: -10px; 
      left: 50%;   
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      border: 3px solid $gray;
      background-color: $white;
      border-radius: 50%;
      z-index: 2;
      transition: border-color 0.5s, background-color 0.5s, box-shadow 0.5s;

      @include mq('phone') {
        bottom: 77%;
        left: 45%;
      }
      
      
      &:hover {
        border-color: $orange-500;
        background-color: rgba($orange-500, 0.10);
      }
  
      &:hover .slider__arrow-icon {
        fill: $orange-500;
      }
  
      &:focus {
        box-shadow: 0 0 0 2px rgba($orange-900, 0.70), 0 5px 12px 0 rgba($orange-900, 0.20);
        background-color: $white;
        border-color: $gray;
      }
  
      &:focus .slider__arrow-icon {
        fill: $gray;
      }
  
      &:active {
        border-color: transparent;
        background-color: rgba($orange-500, 0.10);
        box-shadow: none;
      }
  
      &:active .slider__arrow-icon {
        fill: $orange-900;
      }
  
      &--prev {
        transform: translate(-112px);

        @include mq('phone') {
          transform: translateX(-310%);
        }
      }
    
      &--next {
        transform: translate(72px) scale(-1,1);

        @include mq('phone') {
          transform: translateX(310%) scale(-1,1);
        }
        
      }
  
      &.slick-disabled {
        border-color: $orange-900;
  
        & .slider__arrow-icon{
          fill: $orange-900;        
        }
      }    
    }   
  
    .slider__arrow-icon {
      fill: $gray;
      transition: fill 0.5s;
    }
  }
}

.mobileapp {  

  &__inner {     
    background-repeat: no-repeat;
    background-size: 570px 380px;
    background-position: right center;
    
    @include mq('tablet-2') {
      background-size: 50%;
    }

    @include mq('tablet') {
      text-align: center;      
      background-size: 0%;
    }

    @include mq('phone') {
      text-align: left;
    }
  }

  &__content {
    max-width: 540px;

    @include mq('tablet-2') {
      max-width: 450px;
    }

    @include mq('tablet') {
      max-width: 100%;
    }
  }

  &__title {
    margin-bottom: 45px;
    @include line-clamp(2);

    @include mq('tablet') {
      margin-bottom: 30px;
    }

    @include mq('phone') {
      margin-bottom: 15px;
    }
  }

  &__text {
    margin-bottom: 30px;
    @include line-clamp(3);

    @include mq('phone') {
      margin-bottom: 15px;
    }
  }

  &__link {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }  
}

.footer {
  &__top {
    display: flex;  
    gap: 70px;
    padding: 60px 0;

    @include mq('desktop') {      
      flex-wrap: wrap;      
      gap: 35px;
    }

    @include mq('tablet-2') {
      justify-content: space-around;
    }

    @include mq('tablet') {
      padding: 40px 0;
      gap: 25px;
    }

    @include mq('phone') {
      flex-direction: column;
      padding: 20px 0;
    }
  }

  &__logo {
    display: inline-block;
    width: 200px;
    height: 39px;
    margin-bottom: 20px;

    @include mq('phone') {      
      margin-bottom: 25px;     
    }
  }

  &__logo-img {
    width: 200px;
    height: 39px;
  }

  &__menu {
    display: grid;
    grid-template-columns: 9vw 5vw 10vw;    
    grid-column-gap: 70px; 
    
    @include mq('desktop') {
      grid-template-columns: 14vw 8vw 16vw;
      grid-column-gap: 35px;
    }

    @include mq('tablet-2') {
      grid-template-columns: 19vw 11vw 22vw;
      order: 1;
    }

    @include mq('tablet') {      
      grid-column-gap: 25px;
      order: 1;
    }

    @include mq('phone') {
      display: flex;
      flex-direction: column;
      margin-bottom: 30px;            
    }
  }

  &__menu-item {
    padding-left: 5px;
    @include line-clamp(1); 

    @include mq('phone') {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }    
  }

  &__menu-link {    
    font-size: 18px;
    line-height: 1.3;    
    letter-spacing: 0.18px;
  }

  &__bottom {
    padding: 30px 0;
    text-align: center;
    border-top: 1px solid rgba($gray, 0.2);  

    @include mq('phone') {
      padding: 20px 0;
    }
  }
  
  &__copyright {
    font-size: 14px;
    line-height: 1;
  }
}

.form {  
  &__input {
    max-width: 200px;
    width: 100%;
    margin-bottom: 12px;
    padding: 13px 15px;
    font-size: 14px;
    line-height: 1;
    background-color: $white;    
    border: 1px solid $gray;
    border-radius: 5px;
    transition: border 0.5s, box-shadow 0.5s;
    
    &::placeholder {
      @extend %rubik-400;
      font-size: 14px;
      line-height: 1;
      color: $gray;
      transition: color 0.5s;
    }

    &:hover::placeholder {
      color: $darkblue-900;
    }

    &:focus {
      border: 1px solid rgba($gray, 0.00);      
      box-shadow: 0 0 0 2px $orange-900;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 13px 38px;
    @extend %rubik-500;
    font-size: 14px;
    line-height: 1.3;
    color: $white;
    background-color: $orange-900;
    border-radius: 5px;
    transition: box-shadow 0.5s;

    @include mq('phone') {
      margin-bottom: 30px;
    }

    &:hover {
      box-shadow: 0 0 0 2px rgba($orange-900, 0.70);
      background-color: $white;
    }

    &:hover .form__btn-icon {
      fill: $orange-900;
    }

    &:hover .form__btn-text {
      color: $orange-900;
    }

    &:focus {
      background-color: rgba($orange-500, 0.10);
      box-shadow: 0 0 0 2px rgba($orange-900, 0.70);
    }

    &:focus .form__btn-icon {
      fill: $orange-900;
    }

    &:focus .form__btn-text {
      color: $orange-900;
    }

    &:active {
      background-color: rgba($orange-500, 0.10);
      box-shadow: none;
    }

    &:active .form__btn-icon{
      fill: $orange-900;
    }

    &:active .form__btn-text {
      color: $orange-900;
    }
  }

  &__btn-icon {
    fill: $white;
    transition: fill 0.5s;
  }

  &__btn-text {
    transition: color 0.5s;
  }
}

.contact {
  &__address{
    display: block;
    font-style: normal;
  }

  &__link-icon {
    fill: none;
    stroke: $dark;
    transition: stroke 0.5s;
  }

  &__link {   
    display: flex;
    gap: 10px;
    align-items: center;    
    font-size: 16px;
    line-height: 2;
    margin-bottom: 15px;

    &:hover .contact__link-icon {
      stroke: $orange-900;
    }

    &:active .contact__link-icon {
      stroke: $dark;
    }
  }   
}

.contact-social {
  display: flex;
  align-items: center; 

  @include mq('phone') {
    margin-bottom: 30px;
  }
  
  &__item:not(:last-child) {
    margin-right: 15px;
  }

  &__link {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 39px;
    height: 39px;       
    background-color: $silver-200;
    border-radius: 50%;
    transition: background-color 0.5s, box-shadow 0.5s;

    &:hover {
      background-color: $orange-900;
    }

    &:hover .contact-social__link-icon {
      fill: $white;
    }

    &:focus {
      background-color: rgba($orange-500, 0.10);
      box-shadow: 0 0 0 2px rgba($orange-900, 0.70);
    }

    &:focus .contact-social__link-icon {
      fill: $dark;
    }

    &:active {
      box-shadow: none;
    }

    &:active .contact-social__link-icon {
      fill: $orange-900;
    }    
  }

  &__link-icon {    
    fill: $dark;    
    transition: fill 0.5s;
  }
}
