.footer {
  &__top {
    display: flex;  
    gap: 70px;
    padding: 60px 0;

    @include mq('desktop') {      
      flex-wrap: wrap;      
      gap: 4vw;
    }

    @include mq('tablet-2') {
      
    }

    @include mq('tablet') {
      padding: 40px 0;
      gap: 10vw;
    }

    @include mq('phone') {
      flex-direction: column;
      gap: 0;
      padding: 20px 0;
    }
  }

  &__logo {
    display: inline-block;
    width: 200px;
    height: 39px;
    margin-bottom: 20px;

    @include mq('phone') {      
      margin-bottom: 25px;     
    }
  }

  &__logo-img {
    width: 200px;
    height: 39px;
  }  

  &__menu {
    display: grid;
    grid-template-columns: repeat(3, auto);    
    grid-column-gap: 4vw;     

    @include mq('tablet-2') { 
      grid-template-columns: repeat(2, auto); 
      order: 1;      
    }

    @include mq('tablet') {      
      grid-column-gap: 10vw; 
    }

    @include mq('phone') {
      display: flex;
      flex-direction: column;
      margin-bottom: 30px;            
    }
  }

  &__menu-item {
    padding-left: 5px;
    @include line-clamp(1); 

    @include mq('tablet-2') {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }    
  }

  &__menu-link {    
    font-size: 18px;
    line-height: 1.3;    
    letter-spacing: 0.18px;
  }

  &__bottom {
    padding: 30px 0;
    text-align: center;
    border-top: 1px solid rgba($gray, 0.2);  

    @include mq('phone') {
      padding: 20px 0;
    }
  }
  
  &__copyright {
    font-size: 14px;
    line-height: 1;
  }
}

.form {  

  @include mq('phone') {
    margin-bottom: 30px;
  }
  &__input {
    max-width: 200px;
    width: 100%;
    margin-bottom: 12px;
    padding: 13px 15px;
    font-size: 14px;
    line-height: 1;
    background-color: $white;    
    border: 1px solid $gray;
    border-radius: 5px;
    transition: border 0.5s, box-shadow 0.5s;
    
    &::placeholder {
      @extend %rubik-400;
      font-size: 14px;
      line-height: 1;
      color: $gray;
      transition: color 0.5s;
    }

    &:hover::placeholder {
      color: $darkblue-900;
    }

    &:focus {
      border: 1px solid rgba($gray, 0.00);      
      box-shadow: 0 0 0 2px $orange-900;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 13px 38px;
    @extend %rubik-500;
    font-size: 14px;
    line-height: 1.3;
    color: $white;
    background-color: $orange-900;
    border-radius: 5px;
    transition: box-shadow 0.5s;    

    &:hover {
      box-shadow: 0 0 0 2px rgba($orange-900, 0.70);
      background-color: $white;
    }

    &:hover .form__btn-icon {
      fill: $orange-900;
    }

    &:hover .form__btn-text {
      color: $orange-900;
    }

    &:focus {
      background-color: rgba($orange-500, 0.10);
      box-shadow: 0 0 0 2px rgba($orange-900, 0.70);
    }

    &:focus .form__btn-icon {
      fill: $orange-900;
    }

    &:focus .form__btn-text {
      color: $orange-900;
    }

    &:active {
      background-color: rgba($orange-500, 0.10);
      box-shadow: none;
    }

    &:active .form__btn-icon{
      fill: $orange-900;
    }

    &:active .form__btn-text {
      color: $orange-900;
    }
  }

  &__btn-icon {
    fill: $white;
    transition: fill 0.5s;
  }

  &__btn-text {
    transition: color 0.5s;
  }
}

.contact {
  &__address{
    display: block;
    font-style: normal;
  }

  &__link-icon {
    fill: none;
    stroke: $dark;
    stroke-width: 1.5;
    transition: stroke 0.5s;
  }

  &__link {   
    display: flex;
    gap: 10px;
    align-items: center;    
    font-size: 16px;
    line-height: 2;
    margin-bottom: 15px;

    &:hover .contact__link-icon {
      stroke: $orange-900;
    }

    &:active .contact__link-icon {
      stroke: $dark;
    }
  }   
}

.contact-social {
  display: flex;
  align-items: center; 

  @include mq('phone') {
    margin-bottom: 30px;
  }
  
  &__item:not(:last-child) {
    margin-right: 15px;
  }

  &__link {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 39px;
    height: 39px;       
    background-color: $silver-200;
    border-radius: 50%;
    transition: background-color 0.5s, box-shadow 0.5s;

    &:hover {
      background-color: $orange-900;
    }

    &:hover .contact-social__link-icon {
      fill: $white;
    }

    &:focus {
      background-color: rgba($orange-500, 0.10);
      box-shadow: 0 0 0 2px rgba($orange-900, 0.70);
    }

    &:focus .contact-social__link-icon {
      fill: $dark;
    }

    &:active {
      box-shadow: none;
    }

    &:active .contact-social__link-icon {
      fill: $orange-900;
    }    
  }

  &__link-icon {    
    fill: $dark;    
    transition: fill 0.5s;
  }
}